name: Lint - GitHub Actions

on:
  # Запуск на каждом pull request и push в main
  pull_request:
  push:
    branches: [ main ]

permissions: read-all

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Проверка YAML-файлов GitHub Actions
      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          actionlint_flags: "-shellcheck= -color"
           
